body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.top-nav {
    position: fixed;
    width: 100%;
    background: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 35px;
    margin-top: -190px;
}

header {
    margin-top: -175px;
    position: fixed;
}

.hamburger-container {
    position: relative;
    z-index: 2;
}

.hamburger-menu {
    width: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.hamburger-menu .bar {
    height: 4px;
    width: 100%;
    background-color: white;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #333;
    border-right: 1px solid #555;
    border-radius: 0 5px 5px 0;
    transition: left 0.3s ease-in-out;
    display: none;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-menu li {
    padding: 10px 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-menu li:hover {
    background: #555;
}

main {
    text-align: center;
    margin-top: 15%;
    font-size: larger;
}

.sub {
    text-align: center;
}

.content {
    text-align: left;
    margin-left: 20px;
    width: 90%;
    margin-top: 320px;
    margin-bottom: 500px;
}

.name {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 100px;
    margin: 0 auto;
    animation: animated-text 4s steps(29, end) 2s normal both,
        animated-cursor 600ms steps(15, end);
    text-align: center;
    margin-top: 15%;
}

@keyframes animated-text {
    from {
        color: rgb(29, 67, 121);
        width: 0;
    }

    to {
        color: rgb(170, 73, 151);
        width: 820px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(21, 20, 20, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

.content {
    width: 1000px;

}

.hidden {
    color: whitesmoke;
}

#main {
    margin-left: 250px;
}